:root{
    --background-color: #ffffff;
    --icon-color: #d7e651;
    --highlighted-color: #23241c;
    --title-color: #2d2e28;
    --text-color: #1b1b1b;
    --link-color: #2b2e40;
    --box-color: #fffedb;
    --sidebar-text-color : #a3a3a3;
    --sidebar-background-color: #373737;
    --sidebar-hover-color: #abac9d;

    --dark-background-color: #333;
    --dark-icon-color: #fdff90bb;
    --dark-highlighted-color: #f1f4e5;
    --dark-title-color: #cbcda6;
    --dark-text-color: #cecece;
    --dark-link-color: #605872;
    --dark-box-color: #1e1e1e;
    --dark-sidebar-text-color : #777777;
    --dark-sidebar-background-color: #1a1a1a;
    --dark-sidebar-hover-color: #919283;
}
body {
    background-color: var(--background-color);
    margin: 0;
    font-family: Arial, sans-serif;
}
html.dark body{
    --background-color: var(--dark-background-color);
    --icon-color: var(--dark-icon-color);
    --highlighted-color: var(--dark-highlighted-color);
    --title-color: var(--dark-title-color);
    --text-color: var(--dark-text-color);
    --link-color: var(--dark-link-color);
    --box-color: var(--dark-box-color);
    --sidebar-text-color : var(--dark-sidebar-text-color);
    --sidebar-background-color: var(--dark-sidebar-background-color);
    --sidebar-hover-color: var(--dark-sidebar-hover-color);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--highlighted-color);
    -webkit-user-drag: none;
    user-select: none;
}
p{
    color: var(--text-color);
}
a{
    color: var(--dark-link-color);
}
.box{
    border: 2px solid var(--highlighted-color);
    background-color: var(--box-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
#toggle-btn {
    color: var(--icon-color);
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    font-size: 40px;
    margin: 8px;
    margin-bottom: 20px;
    display: block;
    transition: left 0.3s;
}
#theme-btn{
    color: var(--icon-color);
    background: var(--background-color);
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 8px;
    margin-bottom: 20px;
    display: block;
    transition: left 0.3s;
}
.right{
    text-align: right;
    margin-right: 0px;
}
.icon{
    color: var(--icon-color);
    display: flex;
}
.main-icon{
    width: 64px;
    height: 64px;
    object-fit: contain;
    -webkit-user-drag: none;
    user-select: none;
}
.main-icon-wrapper{
    background-color: var(--sidebar-text-color);
    border: 3px solid var(--icon-color);
    width: 64px;
    height: 64px;
    border-radius: 30%;
    position: fixed;
    align-self: flex-end;
    margin-right: 100px;
    transition: left 0.3s;
}
.sidebar {
    background-color: var(--sidebar-background-color);
    -webkit-user-drag: none;
    user-select: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 180px;
    top: 0;
    padding: 10px 0;
    transition: width 0.3s;
}
.sidebar-text{
    color: var(--sidebar-text-color);
    padding: 0 10px;
    font-weight: bold;
}
.sidebar a {
    color: var(--sidebar-text-color);
    padding: 16px 26px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    white-space: nowrap;
}
.sidebar a:hover {
    background-color: var(--sidebar-hover-color);
}
.sidebar.collapsed { 
    width: 64px;
}
.sidebar.collapsed a .sidebar-text{
    display: none;
}
.sidebar.collapsed + .content {
    margin-left: 64px;
}
.sidebar + .content {
    margin-left: 180px;
    padding: 20px;
    transition: margin-left 0.3s;
}
.content a{
    color: var(--highlighted-color);
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    -webkit-user-drag: none;
    user-select: none;
}
