:root{
/* Light Theme Variables */
    --background-color: #fffffa;
    --icon-color: #ffe100;
    --highlighted-color: #1f1e1b;
    --title-color: #171710;
    --text-color: #1b1b1b;
    --link-color: #4e82ead7;
    --box-color: #ffffff;
    /* Sidebar Colors */
    --sidebar-text-color : #f5f5f5;
    --sidebar-background-color: #212121;
    --sidebar-hover-color: #ffffff18;

/* Dark Theme Variables */
    --dark-background-color: #1e2120;
    --dark-icon-color: #ffe100e6;
    --dark-highlighted-color: #f1f4e5;
    --dark-title-color: #fff6b0;
    --dark-text-color: #6c6c6a;
    --dark-link-color: #2d73ba;
    --dark-box-color: #292c2c;
    /* Dark Sidebar Colors */
    --dark-sidebar-text-color : #fffffadc;
    --dark-sidebar-background-color: #1a1a1a;
    --dark-sidebar-hover-color: #ffffff18;
}
body {
    background-color: var(--background-color);
    margin: 0;
    font-family: Arial, sans-serif;
}
html.dark body{
    --background-color: var(--dark-background-color);
    --icon-color: var(--dark-icon-color);
    --highlighted-color: var(--dark-highlighted-color);
    --title-color: var(--dark-title-color);
    --text-color: var(--dark-text-color);
    --link-color: var(--dark-link-color);
    --box-color: var(--dark-box-color);
    --sidebar-text-color : var(--dark-sidebar-text-color);
    --sidebar-background-color: var(--dark-sidebar-background-color);
    --sidebar-hover-color: var(--dark-sidebar-hover-color);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--highlighted-color);
    -webkit-user-drag: none;
    user-select: none;
}
p{
    color: var(--text-color);
}
a{
    color: var(--dark-link-color);
}
#toggle-btn {
    color: var(--icon-color);
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    font-size: 40px;
    margin: 8px;
    margin-bottom: 20px;
    display: block;
    transition: left 0.3s;
}
#theme-btn{
    color: var(--icon-color);
    background: var(--sidebar-hover-color);
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 8px;
    margin-bottom: 20px;
    display: block;
    transition: left 0.3s;
}
.box{
    border: none;
    background-color: var(--box-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    padding: 15px;
    margin: 25px 10px;
    border-radius: 5px;
}
.box hr {
  border: none;
  border-top: 1px solid #999;
  margin: 5px 0px 20px 0px;
}
.box .title{
    margin: 0;
    color: var(--title-color);
    font-weight: bold;
    font-size: 24px;
    -webkit-user-drag: none;
    user-select: none;
}
.box .link{
    display: block;
    color: var(--link-color);
    text-decoration: none;
    font-size: 18px;
}
.box p{
    color: var(--text-color);
    font-size: 16px;
    margin-top: 0;
}
.block{
    display: block;
}
.list{
    list-style-type: disc;
    padding-left: 20px;
}
.link{
    color: var(--link-color);
    text-decoration: none;
}
.right{
    text-align: right;
    margin-right: 0px;
}
.icon{
    color: var(--icon-color);
    display: flex;
}
.main-icon{
    width: 64px;
    height: 64px;
    object-fit: contain;
    -webkit-user-drag: none;
    user-select: none;
}
.main-icon-wrapper{
    background-color: var(--sidebar-background-color);
    border: 3px solid var(--sidebar-background-color);
    width: 64px;
    height: 64px;
    border-radius: 30%;
    position: fixed;
    align-self: flex-end;
    margin-right: 100px;
    transition: left 0.3s;
}
.sidebar {
    background-color: var(--sidebar-background-color);
    -webkit-user-drag: none;
    user-select: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 180px;
    top: 0;
    padding: 10px 0;
    transition: width 0.3s;
}
.sidebar-text{
    color: var(--sidebar-text-color);
    padding: 0 10px;
    font-weight: bold;
}
.sidebar a {
    color: var(--sidebar-text-color);
    padding: 16px 26px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    white-space: nowrap;
}
.sidebar a:hover {
    background-color: var(--sidebar-hover-color);
}
.sidebar.collapsed { 
    width: 64px;
}
.sidebar.collapsed a .sidebar-text{
    display: none;
}
.sidebar.collapsed + .content {
    margin-left: 64px;
}
.sidebar + .content {
    margin-left: 180px;
    padding: 20px;
    transition: margin-left 0.3s;
}
.content a{
    color: var(--highlighted-color);
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    -webkit-user-drag: none;
    user-select: none;
}
